{% extends "admin/change_list.html" %}
{% load humanize %}  <!-- โหลดฟิลเตอร์ humanize -->

{% block content %}
<!-- แสดง Total Price ของสินค้าทั้งหมด -->
<div style="margin-bottom: 2rem; text-align: left;">
    <h3 style="text-align: left; color: #2c3e50; margin-bottom: 0;">Total Price (All Products):</h3>
    <p style="font-size: 1.2rem; font-weight: bold; text-align: left;">
        {{ total_price|floatformat:2|intcomma }} บาท
    </p>
</div>

{{ block.super }}  <!-- แสดงตาราง Admin ตามปกติ -->
{% endblock %}
