<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Document</title>
    <link rel="stylesheet" href="{% static 'font-forweb/css/all.css' %}" />
  </head>

  <body>
    <div class="tapbar">
      <div class="contlrolBox2">
        <button class="contlrolBox2-btn">
          <i class="fa-solid fa-user"></i>
        </button>
        <div class="contlrolBox2-opption" id="dropdownMenu">
          <a href="{% url 'login.html' %}" target="_blank" >ชื่อสมาชิก</a>
          <a href="{% url 'login.html' %}" target="_blank" >ระหัสสมาชิก</a>
          <a href="{% url 'login.html' %}" target="_blank" >รายงานพนักงานที่อยู่ขณะนี้</a>
          <a href="{% url 'login.html' %}" target="_blank" >การล็อกอินเข้าสู่พนักงาน</a>
        </div>
      </div>

      <div class="contlrolBox3">
        <button class="contlrolBox3-btn">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <div class="contlrolBox3-opption" id="dropdownMenu">
          <a href="/admin/productapp/product1/" target="_blank">จำนวณสินค้าคงเหลือ</a>
          <a href="{% url 'product1' %} " target="_blank">สินค้าใกล้หมด Stock</a>
          <a href="{% url 'product1' %}">สินค้าขายดี</a>
        </div>
      </div>

      <div class="contlrolBox4">
        <button class="contlrolBox4-btn">
          <i class="fa-solid fa-calendar-days"></i>
        </button>
        <div class="contlrolBox4-opption" id="dropdownMenu">
          <a href="{% url 'indexDashboardUser' %}" target="_blank">ยอดขายประจำวัน</a>
          <a href="{% url 'indexDashboardUser' %}" target="_blank">ยอดขายประจำเดือน</a>
          <a href="{% url 'indexDashboardUser' %}" target="_blank">จำนวณบิลที่ขายได้</a>
          <a href="{% url 'indexDashboardUser' %}" target="_blank">ยอดขายเฉลี่ยต่อบิล</a>
          <a href="{% url 'indexDashboardUser' %}" target="_blank">กราฟยอดขายรายวัน และรายเดือน</a>
        </div>
      </div>

      <div class="contlrolBox5">
        <button class="contlrolBox5-btn">
          <i class="fa-regular fa-bell"></i>
        </button>
        <div class="contlrolBox5-opption" id="dropdownMenu">
          <a href="{% url 'product1' %}">แจ้งเตือนสินค้าคงเหลือใกล้หมด</a>
          <a href="{% url 'product1' %}">แจ้งเตือนการคืนสินค้า</a>
          <a href="{% url 'product1' %}">แจ้งเตือนคำสั่งซื้อที่รอดำเนินการ</a>
        </div>
      </div>

      <div class="contlrolBox6">
        <button class="contlrolBox6-btn">
          <i class="fa-solid fa-clipboard"></i>
        </button>
        <div class="contlrolBox6-opption" id="dropdownMenu">
          <a href="{% url 'product1' %}">รายงานยอดขายรายวัน</a>
          <a href="{% url 'product1' %}">รายงานยอดขายรายเดือน</a>
          <a href="{% url 'product1' %}">ดูรายการสินค้า</a>
          <a href="{% url 'product1' %}">จัดการลูกค้า</a>
          <a href="{% url 'product1' %}">จัดการพนักงาน</a>
          <a href="{% url 'product1' %}">ดูรายงาน</a>
        </div>
      </div>

      <div class="contlrolBox7">
        <button class="contlrolBox7-btn">
          <i class="fa-solid fa-gear"></i>
        </button>
        <div class="contlrolBox7-opption" id="dropdownMenu">
          <a href="{% url 'product1' %}">เพื่มรายการสินค้า</a>
          <a href="{% url 'product1' %}">ดูรายการสินค้า</a>
          <a href="{% url 'product1' %}">ดูจักการพนักงาน</a>
          <a href="{% url 'product1' %}">ดูรายงาน</a>
          <a href="{% url 'product1' %}"
            >การตั้งค่าร้านค้า ชื้อร้านค้า สกุลเงิน</a
          >
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="box">
        <div class="A">
          <div class="imgMangae">
            <h4>สแกนเพื่อชำระเงิน</h4>
            <div class="img1">
                <img
                    id="qrCodeImage"
                    src=""
                    alt="PromptPay QR Code"
                    style="display: none;" 
                />
            </div>
       

            <!--src="{% static 'assets/dadhBoard/img/S__32989197.jpg' %}"-->
          
          </div>
          <div class="aa1">
            <div class="aa2">
              <p>เวลา : <span id="time"></span></p>
              <p>วันที่ : <span id="current-datetime"></span></p>
              <p>สาขา โพนทอง</p>
              <p>ระหัสเครื่อง: 15252</p>
            </div>

            <div class="aa3">
              <p>แคลชเชีย: Demo</p>
              <p>เลขที่ใบเสร็จ: 45165</p>
              <p>พนักงานขาย: มยุรี ศรีสุเลิส</p>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="removeBox1">
          <div class="box2ControlBotom0">
            <div class="box2ControlBotom1">
              <div class="result-box4">Total</div>
              <div class="result-box5">รับเงิน</div>
              <div class="result-box6">ทอนเงิน</div>
            </div>

            <div class="box2ControlBotom">
              <div class="result-box7" id="totalAmount">0</div>
              <div class="result-box8" id="getMonney">0</div>
              <div class="result-box9" id="withDraw">0</div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="box3">
          <div class="controlTable">
            <div class="table-container">
              <table class="styled-table" id="itemTable">
                <thead>
                  <tr>
                    <th>รายการ</th>
                    <th>barcode</th>
                    <th>ชื่อสินค้า</th>
                    <th>หน่อยนับ</th>
                    <th>จำนวณ</th>
                    <th>ราคา</th>
                    <th>สินค้าที่คงเหลือใน Stock</th>
                  </tr>
                </thead>
                <tbody id="itemTableBody">
                 
                </tbody>
              </table>
            </div>
          </div>

          <div class="b1_1">
            <div class="b1_1_1">
              <button class="custom-button2" id="row11">หมูกระทะ</button>
              <button class="custom-button2" id="row12">คอหมูย่าง</button>
              <button class="custom-button2" id="row13">ไส้อ่อน</button>
              <button class="custom-button2" id="row14">ไส่ใหญ่</button>
              <button class="custom-button2" id="row15">ซีกโครงหมู</button>
              <button class="custom-button3" id="row16">Barcode</button>
            </div>
          </div>

          <div class="b1_1_1">
            <div class="contlrolBox1">
              <button class="contlrolBox1-btn">
                <i class="fa-brands fa-product-hunt"></i>
              </button>
              <div class="contlrolBox1-opption" id="dropdownMenu">
                <div class="controlButton1">
                  <button class="custom-button2" id="">ไหล่หมู</button>
                  <button class="custom-button2" id="">สันนอก</button>
                  <button class="custom-button2" id="">น้ำแข็ง</button>
                  <button class="custom-button2" id="">ตับอ่อน</button>
                  <button class="custom-button2" id="">ผัก</button>
                  <button class="custom-button2" id="">ขนมปั่ง</button>
                </div>
              </div>
            </div>
            <button class="custom-button2" id="row17">ไหล่หมู</button>
            <button class="custom-button2" id="row18">สันนอก</button>
            <button class="custom-button2" id="row19">สามชั้น</button>
            <button class="custom-button2" id="row20">กระดูกหมูชูป</button>
            <button class="custom-button2" id="row21">หมูบด</button>
            <button class="custom-button2" id="row22">Clean</button>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="b21">
          <div class="result-box">0</div>
          <i id="currency">บาท</i>
        </div>

        <div class="b23">
          <div class="manageImg2" id="product-container">
          
                  
                <div class="img2">
                     <img src="https://images.unsplash.com/photo-1736197531185-f53783de893a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{ product.name }}" />
                </div>
          </div>


        
            <div class="Text" id="product-container1">
                 <h6>
                     -สินค้าใน stock : 1 pcs <br />
                     -ชื่อสินค้า : เหล้าขาว <br />
                     -รายระเอียดสินค่า : สีเขียว<br />
                     -ราคาสินค้าต่อหน่วย : 15 บาท <br />
                 </h6>
          </div>
           

          
          <div class="bb26">
            <div class="bb27">
              <button class="custom-button4">รับเงิน</button>
            </div>

            <div class="bb28">
              <button class="custom-button5" value="remove">ลบรายการ</button>
            </div>

            <div class="bb29">
              <button class="custom-button6" value="add">เพิ่มรายการ</button>
            </div>
          </div>
        </div>

        <div class="b22">
          <div class="b22_1">
            <div class="bb24">
              <button class="custom-button calulator" value="7">7</button>
              <button class="custom-button calulator" value="8">8</button>
              <button class="custom-button calulator" value="9">9</button>
            </div>
            <div class="bb24">
              <button class="custom-button calulator" value="4">4</button>
              <button class="custom-button calulator" value="5">5</button>
              <button class="custom-button calulator" value="6">6</button>
            </div>
            <div class="bb25">
              <button class="custom-button calulator" value="1">1</button>
              <button class="custom-button calulator" value="2">2</button>
              <button class="custom-button calulator" value="3">3</button>
            </div>
            <div class="bb25">
              <button class="custom-button calulator" value="0">0</button>
              <button class="custom-button operrator1 operrator2" value=".">
                .
              </button>
              <!--ทำการประกาศ class อีกตัวเลยสามารถทำให้โปรแกรมรันตามความต้องการ เพราะมันเป็น class ที่3 -->

              <button class="custom-button delete" id="clear-btn" value="c">
                c
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="{% static "assets/dadhBoard/css/style.css"%}">
    <script src="{% static 'assets/dadhBoard/js/script.js' %}"></script>
  </body>
</html>
